@charset "utf-8";

@import url(//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,700);

// Our variables

$code-font-family: 'Courier New', Courier, monospace;
$title-font-family: $code-font-family;

// $base-font-family: Helvetica, Arial, sans-serif;
$base-font-family: 'Open Sans', Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$title-font-size:  30px;
$title-bar-height: 60px;
$navbar-font-size: $title-font-size * 0.5;

// Buffer that surrounds main content area and divides sections
$spacing-unit:     25px;

// $title-bar-bg:     #305060;
$title-bar-bg:     #305060;
$title-bar-fg:     #cccccc;
// $intro-area-bg:    darken($title-bar-bg, 20%);
$intro-area-bg:    #111111;
$intro-area-fg:    #ffffff;

$text-color:       #000000;
$body-color:          $title-bar-bg;

$content-color:    #ffffff;
$heading-color:    $title-bar-bg;

// $background-color: #fbfbfb;
// $background-color: lighten($title-bar-bg, 60%);
$aside-color:      #ff0000;
$link-color:       #2e598a;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-mobile:        600px;
$on-laptop:        800px;

