/**
 * Site header
 */
.site-header {
    background-color: $title-bar-bg;
    color: $title-bar-fg;
    min-height: $title-bar-height;
    margin-bottom: $spacing-unit;

    padding: $vpad 30px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title-area {
    line-height: $title-bar-height;
    float: left;
}

.site-title {
    letter-spacing: -1px;
    font-family: $title-font-family;
    font-size: $title-font-size;

    &,
    &:visited {
        color: $title-bar-fg;
    }
}

.site-nav {
    float: right;
    line-height: $title-bar-height;
    font-size: $navbar-font-size;

    .nav-link {
        color: $title-bar-fg;
        margin-left: 5px;
        &:visited {
            color: darken($title-bar-fg, 20%);
        }
    }

    .fa-bars {
        color: $grey-color-light;
    }

    .menu-icon {
        display: none;
    }

    @include media-query($on-mobile) {
        position: absolute;
        top: 9px;
        right: 0px;
        @include border-radius(5px);
        text-align: right;
        border: 1px solid transparent;

        z-index: 1;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 24px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;
        }

        .nav-link {
            display: block;
            line-height: 200%;
            text-align: left;
            margin: 0px 10px;
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        &:hover {
            background-color: lighten($title-bar-bg, 5%);
            border: 1px solid $grey-color-dark;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}

/**
 * Posts
 */

.post {

    position: relative; // Acts as a hook for asides to position against
    @include max-width($content-width);

    // Still debating leaving this in:
    border: solid 1px $primary-color-light;
    background-color: $content-color;

    // Used for post title
    h1 {
        @include responsive-font($base-font-size * 3.0);
    }

    // Used for section title
    h2 {
        @include responsive-font($base-font-size * 2.2);
        color: $heading-color;

        // Horizontal line under the section area
        &:after {
            content:'';
            display:block;
            border: 1px solid;
        }

        margin-bottom: $spacing-unit;
    }

    // Used for section subtitle
    h3 {
        @include responsive-font($base-font-size * 1.5);
    }

    // Currently unused
    h4 {
        @include responsive-font($base-font-size * 1.1);
    }

    // Currently unused
    h5 {
        @include responsive-font($base-font-size);
    }

    h1, h2, h3, h4, h5 {
        color: $heading-color;
        font-weight: 100; // Normal=400, Bold=700

        // Style the link icon, so it appears only on mouseover
        > a {
            display: none;
            padding-left: 10px;
            font-size: 70%;
            opacity: 0.4;

            &:hover {
                opacity: 1.0;
            }
        }
        &:hover > a {
            display: inline;
        }
    }
}

.github_repo {
    font-family: $code-font-family;
}

.post-intro {
    padding: 10px 20px;
    @include gradient(top, darken($intro-area-bg, 2%) 0%, $intro-area-bg 100%);
    margin-bottom: $spacing-unit;
}

.post-intro-summary {
    font-size: 90%;
    font-style: italic;
    margin-bottom: $spacing-unit;
}

.post-series-title {
    font-style: italic;
    margin-bottom: 0px;
}

.post-goal {
    margin: 0px $gutter;
    padding: $vpad $hpad;

    ul {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

.post-goal-header {
    font-weight: bold;
}

.post-content {
    @include max-width($content-width);
    @include flex(1);

    padding: 0px 30px;

    // Thank you http://cssarrowplease.com/
    $left-arrow-size: 10px;
    $arrow-shift: $left-arrow-size / 2;
    aside {
        position: absolute;
        font-size: 80%;
        font-style: italic;
        color: lighten($primary-text-dark, 30%);
        left: 100%;
        margin-left: $arrow-shift;
        // left arrow eats into aside width
        width: $aside-width - $arrow-shift * 2 - $hpad * 2;
        background: $aside-color;
        padding: $vpad $hpad;
        @include border-radius(5px);

        @include media-query($on-laptop) {
            position: static;
            width: initial;
            left: initial;
            margin: initial $gutter;
        }
    }
    aside:before {
        position: absolute;
        right: 100%;
        top: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        pointer-events: none;
        border-right-color: $aside-color;
        border-width: $left-arrow-size;
        margin-top: -$left-arrow-size;

        @include media-query($on-laptop) {
            display: none;
        }
    }
}

/**
 * Debug
 */
#debug-console {
    position: fixed;
    background-color: yellow;
    border-style: solid;
    @include border-top-radius(5px);
    border-width: 1px;
    padding-left: $hpad;
    white-space: nowrap;
    overflow: hidden;
    // Choose width, margin, and left values to center the console
    width: 80%;
    margin: 0 0 0 -40%;
    left:50%;
    top: 98%; // Debug console only peeks onscreen until hover

    &:hover {
        top: initial;
        // Hide the bottom border, looks like it's peeking from offscreen
        bottom: -1px;
    }
}
