/**
 * Site header
 */
.site-header {
    background-color: $title-bar-bg;
    min-height: 56px;

    border-bottom: solid 1px;
    padding: 0px 30px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-family: $title-font-family;
    font-size: $title-font-size;
    line-height: $title-bar-height;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $title-bar-fg;
    }
}

.site-nav {
    float: right;
    line-height: $title-bar-height;
    font-size: $navbar-font-size;    

    .nav-link {
        color: $title-bar-fg;
        margin-left: 5px;
        &:visited {
            color: darken($title-bar-fg, 20%);
        }
    }

    .fa-bars {
        color: $grey-color-light;
    }

    .menu-icon {
        display: none;
    }

    @include media-query($on-mobile) {
        position: absolute;
        top: 9px;
        right: 0px;
        @include border-radius(5px);
        text-align: right;
        border: 1px solid transparent;

        z-index: 1;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 24px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;
        }

        .nav-link {
            display: block;
            line-height: 200%;
            text-align: left;
            margin: 0px 10px;
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        &:hover {
            background-color: lighten($title-bar-bg, 5%);
            border: 1px solid $grey-color-dark;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}

/**
 * Notes
 */

.goal, .tip, .warn {
    border-style: solid;
    border-width: 1px;
    @include border-radius(10px);
    padding: $vert-pad $horiz-pad;

    ul {
        margin-top: 5px;
        margin-bottom: 5px;
    }    
}

.tip, .warn {
    display: block;
}

.goal-icon, .tip-icon, .warn-icon {
    margin-right: 10px;
}

.goal-header, .tip-header, .warn-header {
    font-weight: bold
}

.tip {
    background: gold;
}

.warn {
    background: red;
}


/**
 * Posts
 */

.post {

    position: relative; // Useful so asides can be laid out relative to posts

    // Used for post title
    h1 {
        @include responsive-font($base-font-size * 3.0);
        font-weight: 100;
    }

    // Used for section title
    h2 {
        @include responsive-font($base-font-size * 2.2);
        color: $heading-color;

        &:after {
            content:'';
            display:block;
            border: 1px solid;
        }

        margin-bottom: $spacing-unit;
    }

    // Used for section subtitle
    h3 {
        @include responsive-font($base-font-size * 1.5);
        color: $heading-color;
    }

    // Currently unused
    h4 {
        @include responsive-font($base-font-size * 1.1);
    }

    // Currently unused
    h5 {
        @include responsive-font($base-font-size);
    }

    h1, h2, h3, h4, h5 {
        font-weight: 100; // Normal=400, Bold=700

        // Style the link icon, so it appears only on mouseover
        > a {
            display: none;
            padding-left: 10px;
            font-size: 70%;
            opacity: 0.4;

            &:hover {
                opacity: 1.0;
            }
        }
        &:hover > a {
            display: inline;            
        }        
    }
}

.github_repo {
    font-family: $code-font-family;
    color: $text-color;
}

// The posts appear in a floating window
$floating-post-radius: 10px;

.post-content-and-asides {
    border-style: solid;

}

.post-intro {
    // margin-top: 20px;
    padding: 20px;
    color: $intro-area-fg;
    @include gradient(lighten($intro-area-bg, 10%) 0%, $intro-area-bg 100%);
    // @include border-top-radius($floating-post-radius);
}

.post-title {
    margin-bottom: 10px;
}

.post-series-title {
    font-style: italic;
}

.post-content {

    @include max-width($content-width);

    background-color: #ffffff;
    padding: 20px 30px;
    // margin-bottom: $spacing-unit;
    // @include border-bottom-radius($floating-post-radius);

    // Thank you http://cssarrowplease.com/
    $left-arrow-size: 10px;
    $arrow-shift: $left-arrow-size / 2;
    aside {
        position: absolute;
        font-size: 90%;
        font-style: italic;
        color: lighten($text-color, 30%);
        // left arrow overlaps content a bit, eats into aside width
        left: $content-width + $arrow-shift;
        width: $aside-width - $arrow-shift * 2 - $horiz-pad * 2;
        background: $aside-color;
        padding: $vert-pad $horiz-pad;
        @include border-radius(5px);

        @include media-query($on-laptop) {
            position: static;
            width: initial;
            left: initial;
        }
    }
    aside:before {
        position: absolute;
        right: 100%;
        top: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        pointer-events: none;
        border-right-color: $aside-color;
        border-width: $left-arrow-size;
        margin-top: -$left-arrow-size;

        @include media-query($on-laptop) {
            display: none;
        }
    }
}

.post-asides {
    border-style: solid;
    top: 0px;
    bottom: 0px;
    background-color: $aside-col-color;
    // z-index: -1; // Always show behind asides themselves

    @include media-query($on-laptop) {
        display: none;
        // width: initial;
        // left: initial;
    }
}


/**
 * Debug
 */
#debug-console {
    position: fixed;
    background-color: yellow;
    border-style: solid;
    @include border-top-radius(5px);
    border-width: 1px;
    padding-left: $horiz-pad;
    white-space: nowrap;
    overflow: hidden;
    // Choose width, margin, and left values to center the console
    width: 80%;
    margin: 0 0 0 -40%; 
    left:50%;
    top: 98%; // Debug console only peeks onscreen until hover

    &:hover {
        top: initial;
        bottom: -1px; // Hides the bottom border
    }
}
