// Using media queries with like this:
// @include media-query($on-mobile) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@mixin gradient($gradient...) {
  background: -webkit-linear-gradient($gradient);
  background: -o-linear-gradient($gradient);
  background: -moz-linear-gradient($gradient);
  background: linear-gradient($gradient);
}

@mixin responsive-font($font-size) {
  font-size: $font-size;

  @include media-query($on-mobile) {
      font-size: $font-size * 0.8;
  }
}

@mixin debug-box() {
  border: solid 1px #000000;
}

@mixin max-width($width) {
  max-width: -webkit-calc(#{$width});
  max-width:         calc(#{$width});
}

@mixin box-shadow($shadow...) {
  -webkit-box-shadow: $shadow;
     -moz-box-shadow: $shadow;
          box-shadow: $shadow;
}

@mixin border-radius($radius...) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
          border-radius: $radius;
}

@mixin border-top-left-radius($radius...) {
  -webkit-border-top-left-radius: $radius;
     -moz-border-radius-topleft:  $radius;
          border-top-left-radius: $radius;
}

@mixin border-top-right-radius($radius...) {
  -webkit-border-top-right-radius: $radius;
     -moz-border-radius-topright:  $radius;
          border-top-right-radius: $radius;
}

@mixin border-bottom-left-radius($radius...) {
  -webkit-border-bottom-left-radius:  $radius;
     -moz-border-radius-bottomright:  $radius;
          border-bottom-right-radius: $radius;
}

@mixin border-bottom-right-radius($radius...) {
  -webkit-border-bottom-right-radius: $radius;
     -moz-border-radius-bottomright:  $radius;
          border-bottom-right-radius: $radius;
}

@mixin border-top-radius($radius...) {
  @include border-top-left-radius($radius);
  @include border-top-right-radius($radius);
}

@mixin border-bottom-radius($radius...) {
  @include border-bottom-left-radius($radius);
  @include border-bottom-right-radius($radius);
}

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}

@mixin order($val) {
  -webkit-box-ordinal-group: $val;
  -moz-box-ordinal-group: $val;
  -ms-flex-order: $val;
  -webkit-order: $val;
  order: $val;
}

@mixin transition($transition...) {
  -webkit-transition: $transition;
     -moz-transition: $transition;
       -o-transition: $transition;
          transition: $transition;
}
