{% if page.series.pages.size > 1 %}
    <nav class="series-nav">
        <a href="#" class="menu-icon">
            {% icon fa-caret-down fa-lg %}
        </a>

        <div class="trigger">
            {% for p in page.series.pages %}
                {% if p == page %}
                    <b>{{ p.title }}</b><br/>
                {% else %}
                   <a href="../{{ p.url | split: '/' | last }}" class="nav-link">{{ p.title }}</a><br/>
                {% endif %}
            {% endfor %}
        </div>
    </nav>
{% endif %}

<div class="post-series-title">{{ page.series.title | default: '(data missing: series title)' }}</div>
