---
layout: default
---
<article class="post">
    <header class="post-intro">
        <div class="post-series-title">{{ page.series_title | default: '(page missing: series_title)' }}</div>

        <h1 class="post-title">{{ page.title | default: '(page missing: title)' '}}</h1>

        <div class="post-goal">
            <span class="post-goal-header">Contents</span>
            {{ content | toc }}
        </div>
    </header>

    <div class="post-content">
        <!-- TODO: Figure out repo style -->
        {% if page.github_repo? %}
            {% highlight bash %}
$ {{ page.github_repo }}
            {% endhighlight %}
        {% endif %}

        <div class="post-intro-summary">{{ page.intro | default: '(page missing: intro)' }}</div>

        {{ content }}
    </div>
</article>
