---
layout: skeleton
---

{% comment %}
  The post layout changes slightly depending on whether it is a Single article or a Series article. This is determined by looking at the page's URL!
{% endcomment %}

<article class="post">
    <header class="post-intro">

        {% if page.series != null %}{% include post/series-header.html %}{% endif %}

        <h1 class="post-title">
            {{ page.title | default: '(data missing: page title)' }}
        </h1>

        <div class="post-goal">
            <span class="post-goal-header">Contents</span>
            {{ content | toc }}
        </div>
    </header>

    <div class="post-content">
        {% warn Figure out repo style %}
        {% if page.github_repo? %}
{% highlight bash %}
$ {{ page.github_repo }}
{% endhighlight %}
        {% endif %}

        <div class="post-intro-summary">
            {% if page.series != null %}
                {% include post/series-summary.html %}
            {% else %}
                {% include post/single-summary.html %}
            {% endif %}
        </div>

        {{ content }}
    </div>

    {% if page.series != null %}{% include post/series-footer.html %}{% endif %}
</article>
