---
layout: skeleton
---

{% comment %}
  The post layout changes slightly depending on whether it is a Single article or a Series article. This is determined by looking at the page's URL!
{% endcomment %}

<article class="post">
    <header class="post-intro">

        {% if page.series %}{% include post/series-header.html %}{% endif %}

        <h1 class="post-title">
            {{ page.title | default: '(data missing: page title)' }}
        </h1>

        <div class="post-toc">
            <span class="post-toc-header">Contents</span>
            {{ content | toc }}
        </div>
    </header>

    <div class="post-content">
        <div class="post-intro-summary">
            {% if page.series != null %}
                {% include post/series-summary.html %}
            {% else %}
                {% include post/single-summary.html %}
            {% endif %}
        </div>

        {% if page.show_git_clone? %}
        {% tryme When you see this icon, you can try this at home! %}
{% highlight bash %}
# In a source folder somewhere on your machine,
# e.g. ~/src/tryfinally/{{ page.series.id }}/{{ page.id }}/
$ git clone -b {{ page.id }} https://github.com/d9n/{{ page.series.id }}.git .
{% endhighlight %}
        {% endif %}

        {{ content }}
    </div>

    {% if page.series != null %}{% include post/series-footer.html %}{% endif %}
</article>
